In [1]:
import pandas as pd 
import numpy as np
from selenium import webdriver
import re

In [3]:
df=pd.read_excel("datafile(1).xls",na_values="NA")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [6]:
df=df.fillna(0)

In [15]:
lm=[]
for i in range (0,31):
    lm.append(df.State[i])

In [49]:
df['LatLong']=None

In [53]:
browser=webdriver.Firefox()
browser.get("https://www.google.com/")
for i in range (0,31):
    k=browser.find_element_by_class_name("gsfi")
    k.send_keys("latitude and longitude" +" "+ lm[i])
    search=browser.find_element_by_xpath("/html/body/div/div[3]/form/div[2]/div[3]/center/input[1]")
    search.click()
    try:
        data=browser.find_element_by_class_name("Z0LcW")
        m=data.text
        m=m.split(",")
        df['LatLong'][i]=m
    except:
        pass
    browser.back()

/home/sidharth/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [107]:
def lat(val):
    try:
        s=str(val[0])
        s=re.findall(r'\d+', s)
        return(np.float(s[0]+"."+s[1]))
    
    except:
        return(np.float(34.083656))

In [110]:
def long(val):
    try:
        s=str(val[1])
        s=re.findall(r'\d+', s)
        return(np.float(s[0]+"."+s[1]))
    
    except:
        return(np.float(74.797371))

In [108]:
df['lat']=df.LatLong.apply(lat)

In [111]:
df['long']=df.LatLong.apply(long)

In [114]:
df=df.drop('LatLong',axis=1)

In [117]:
df=df.drop(index=31,axis=0)

In [121]:
df.to_csv("State_Univ",index=False)

In [2]:
df=pd.read_csv("State_Univ")

In [3]:
df.head()

,State,Central University,Central Open University,Institution of National Importance,State Public University,State Open University,State Private University,Institution Established Under State Legislature Act,Government Deemed University,Private Deemed University,Others,Grand Total,lat,long
0,Andhra Pradesh,3.0,0.0,2,30.0,1.0,0.0,2.0,2.0,5.0,1.0,46,15.9129,79.7400
1,Arunachal Pradesh,1.0,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3,28.2180,94.7278
2,Assam,2.0,0.0,2,3.0,1.0,1.0,0.0,0.0,0.0,0.0,9,26.2006,92.9376
3,Bihar,1.0,0.0,2,14.0,1.0,0.0,1.0,1.0,0.0,0.0,20,25.0961,85.3131
4,Chandigarh,0.0,0.0,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,3,30.7333,76.7794

In [60]:
lm=pd.unique(df['Central University'])
lm=sorted(lm)

In [96]:
for i in range(len(lm)):
    if(lm[i]==0):
        k=df.loc[df['Central University']==lm[i]]
        label0=list(k.State)
        lat0=list(k.lat)
        long0=list(k.long)
    if(lm[i]==1):
        k=df.loc[df['Central University']==lm[i]]
        label1=list(k.State)
        lat1=list(k.lat)
        long1=list(k.long)
    if(lm[i]==2):
        k=df.loc[df['Central University']==lm[i]]
        label2=list(k.State)
        lat2=list(k.lat)
        long2=list(k.long)
    if(lm[i]==3):
        k=df.loc[df['Central University']==lm[i]]
        label3=list(k.State)
        lat3=list(k.lat)
        long3=list(k.long)
    if(lm[i]==4):
        k=df.loc[df['Central University']==lm[i]]
        label4=list(k.State)
        lat4=list(k.lat)
        long4=list(k.long)

In [99]:
lm=pd.unique(df['Central Open University'])
lm=sorted(lm)
for i in range(len(lm)):
    if(lm[i]==0):
        k=df.loc[df['Central Open University']==lm[i]]
        label1=list(k.State)
        lat1=list(k.lat)
        long1=list(k.long)
    if(lm[i]==1):
        k=df.loc[df['Central Open University']==lm[i]]
        label2=list(k.State)
        lat2=list(k.lat)
        long2=list(k.long)

In [103]:
pd.unique(df['Institution of National Importance'])

array([2, 1, 3, 4])

In [104]:
pd.unique(df['State Public University'])

array([30.,  0.,  3., 14.,  1.,  8.,  5., 21., 10.,  4.,  7., 23., 16.,
       18., 12., 19.])

In [ ]:
x,y = map(long4, lat4)
map.plot(x, y, 'mo', markersize=10)
labels = list(df.label4)
for label, xpt, ypt in zip(labels, x, y):
    plt.text(xpt, ypt, label,weight='heavy',fontsize=10,bbox=dict(facecolor='white', alpha=0.1))

In [ ]:
map = Basemap(projection='merc',llcrnrlon=68.1, llcrnrlat= 6.5, urcrnrlon=97.4, urcrnrlat=38, resolution='h')

map.drawmapboundary(fill_color='aqua')
map.fillcontinents(color='#ddaa66',lake_color='aqua')
map.drawcoastlines()

# this shapefile taken from 
# https://www.arcgis.com/home/item.html?id=cf9b387de48248a687aafdd4cdff1127
map.readshapefile('india3/INDIA', 'india')
# map.readshapefile('india21/India Shape/india_st.shp', 'India_st')
x,y = map(long0, lat0)
map.plot(x, y, 'ro', markersize=10,marker='o',markeredgecolor="black", markeredgewidth=1)
labels = list(label0)
for label, xpt, ypt in zip(labels, x, y):
    plt.text(xpt, ypt, label,weight='heavy',fontsize=10,bbox=dict(facecolor='white', alpha=0.3))
x,y = map(long1, lat1)
map.plot(x, y, 'mo', markersize=10,marker='o',markeredgecolor="black", markeredgewidth=1)
labels = list(label1)
for label, xpt, ypt in zip(labels, x, y):
    plt.text(xpt, ypt, label,weight='heavy',fontsize=10,bbox=dict(facecolor='white', alpha=0.3))
x,y = map(long2, lat2)
map.plot(x, y, 'bo', markersize=10,marker='o',markeredgecolor="black", markeredgewidth=1)
labels = list(label2)
for label, xpt, ypt in zip(labels, x, y):
    plt.text(xpt, ypt, label,weight='heavy',fontsize=10,bbox=dict(facecolor='white', alpha=0.3))
x,y = map(long3, lat3)
map.plot(x, y, 'yo', markersize=10,marker='o',markeredgecolor="black", markeredgewidth=1)
labels = list(label3)
for label, xpt, ypt in zip(labels, x, y):
    plt.text(xpt, ypt, label,weight='heavy',fontsize=10,bbox=dict(facecolor='white', alpha=0.3))
x,y = map(long4, lat4)
map.plot(x, y, 'go', markersize=10,marker='o',markeredgecolor="black", markeredgewidth=1)
labels = list(label4)
for label, xpt, ypt in zip(labels, x, y):
    plt.text(xpt, ypt, label,weight='heavy',fontsize=10,bbox=dict(facecolor='white', alpha=0.3))



# Change plot size and font size
plt.rcParams['figure.figsize'] = (20,15)
plt.rcParams.update({'font.size': 20})
plt.show()